[submodule "pico-ultrasonic-lib"]
	path = pico-ultrasonic-lib
	url = git@github.com:bobolle/pico-ultrasonic-lib.git
[submodule "pico-client-dump"]
	path = pico-client-dump
	url = git@github.com:bobolle/pico-client-dump.git
[submodule "iot-hub"]
	path = iot-hub
	url = git@github.com:bobolle/iot-hub.git
